@model List<ComicDetailViewModel>

<div class="top-downloaded ">
    <div class="heading-section">
        <h4>Top Readed Comics</h4>
    </div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="Details" asp-route-comicSlug="@item.Comic.Slug">
                    <img src="@item.Comic.CoverImageUrl" alt=" @item.Comic.Title Kapak Resmi" class="templatemo-item">
                    <h4>@item.Comic.Title</h4>
                    <h6>@item.Comic.Author</h6>
                    <span><i class="fa fa-star" style="color: yellow;"></i> @item.AverageScore</span>
                    <span><i class="fa fa-download" style="color: #ec6090;"></i> 2.2M</span>
                    <div class="download">
                        <a href="#"><i class="fa fa-download"></i></a>
                    </div>
                </a>
            </li>
        }

    </ul>
</div>