@model ProfileDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()


<div class="page-content">

    <!-- ***** Profile Details ***** -->
    <div class="row">
        <div class="col-lg-12">
            <div class="feature-banner header-text">
                <div class="row">
                    <div class="col-lg-4">
                        @if (Model.ProfileImageUrl is not null)
                        {
                            <img src="@Model.ProfileImageUrl" class="card-img-top" alt="@Model.UserName Profil Resmi" style="object-fit: cover; height: 350px ; border-radius: 23px;">
                        }
                        else
                        {
                           <span > Proil resmi yükleyin </span> 
                        }
                       
                       </div>
                    <div class="col-lg-8">

                        <div class="top-downloaded">
                            <div class="heading-section">
                                <h4>@Model.UserName</h4>
                            </div>
                            <p class="text-muted mb-1"><strong>Email:</strong> @Model.Email</p>
                            <p class="text-muted mb-1"><strong>Email Doğrulama:</strong> @(Model.EmailConfirmed ? "Aktif" : "Pasif")</p>
                            <p class="text-muted mb-1"><strong>Phone:</strong> @Model.PhoneNumber</p>
                            <p class="text-muted mb-1">
                                <strong>Roller:</strong> @foreach (var rol in Model.Roles)
                                {
                                    <span>@rol </span>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Bölümler 1 ***** -->
    <div class="game-details">
        <div class="row">
            <div class="col-lg-12">
                <h2>Puanlamalar</h2>
            </div>
            <div class="col-lg-12">
                <div class="content">
                    <div class="row">
                        @if (Model.comicRating != null && Model.comicRating.Any())
                        {
                            @for (int i = 0; i < Model.comicRating.OrderByDescending(c => c.Score).Count(); i++)
                            {
                                var rating = Model.comicRating.OrderByDescending(c => c.Score).ElementAt(i);
                                if (i % 2 == 0)
                                {
                                    <div class="col-lg-6">
                                        <div class="left-info">
                                            <div class="left">
                                                <a asp-controller="Comics"
                                                   asp-action="Details"
                                                   asp-route-comicSlug="@rating.Comic.Slug">
                                                    <h4>@rating.Comic.Title</h4>
                                                    <span>@rating.CreatedAt.ToShortDateString()</span>
                                                </a>
                                            </div>
                                            <ul>
                                                <li><i class="fa fa-star"></i> @rating.Score</li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-6">
                                        <div class="right-info">
                                            <div class="left">
                                                <a asp-controller="Comics"
                                                   asp-action="Details"
                                                   asp-route-comicSlug="@rating.Comic.Slug">
                                                    <h4>@rating.Comic.Title</h4>
                                                    <span>@rating.CreatedAt.ToShortDateString()</span>
                                                </a>
                                            </div>
                                            <ul>
                                                <li><i class="fa fa-star"></i> @rating.Score</li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*
    <!-- ***** Yorumlar 1 ***** -->
    <div id="comments">
    <div class="game-details">
        <div class="row">
            <div class="col-lg-12">
                <h2>Yorumlar</h2>
            </div>
            <div class="col-lg-12">
                <div class="content">
                    <div class="row">
                        <div class="panel">
                            <div class="panel-body">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form asp-action="AddComment" method="post">
                                        <input type="hidden" asp" name="comicId" value="@Model.Comic.ComicId" />
                                        <textarea name="newComment" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
                                        <div class="mar-top clearfix">
                                            <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Paylaş</button>
                                            <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                                            <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                                            <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <p class="text-xl-center">Yorum yapmak için giriş yapmalısınız.</p>
                                }
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                @if (Model.commentWithPaginations.Comments != null && Model.commentWithPaginations.Comments.Any())
                                {
                                    @foreach (var comment in Model.commentWithPaginations.Comments.Where(c => c.ParentCommentId == null).OrderByDescending(c => c.CreatedAt))
                                    {
                                        @await Html.PartialAsync("_CommentPartial", comment)
                                    }
                                }
                                else
                                {
                                    <div class="list-group-item text-center text-muted">
                                        Bu seriye ait henüz bir bölüm bulunmuyor.
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- ***** Paginations Buttons ***** -->
    <div class="col-lg-12">
        <div class="btn-group d-flex justify-content-center">
            @if (Model?.commentWithPaginations.Pagination != null)
            {
                for (int i = 1; i <= Model.commentWithPaginations.Pagination.TotalPages; i++)
                {
                    if (i == Model.commentWithPaginations.Pagination.CurrentPage)
                    {
                        <div class="main-button ">
                            <a asp-action="Details" asp-route-PageNumber="@i" class="btn btn-secondary" )">
                                @i
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="main-border-button">
                            <a asp-action="Details" asp-route-PageNumber="@i" class="btn  btn-outline-dark" )">
                                @i
                            </a>
                        </div>
                    }
                }
            }
        </div>

    </div>
    *@

</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/comments.css">





@*
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Horizontal Form</h4>
            <p class="card-description"> Horizontal form layout </p>
            <form class="forms-sample">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
                    </div>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
*@